
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
*.zip
*.sublime-workplace
*.sublime-project
wp-content/advanced-cashe.php
wp-content/cache/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

